@font-face {
    font-family: Confortaa;
    src: url(Comfortaa-VariableFont_wght.ttf);
}

@font-face {
    font-family: Mutka;
    src: url(Mukta-Regular.ttf);
}
:root{
    --vertical-gap: 20px;
    --horizontal-gap: 10px;
}

body{
    padding: 0;
    margin: 0;
    font-family: Mutka;
}

img{
    height: 1.5em;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 7fr;
    height: 100vh;
}
/* ----------------Header-------------------- */
.header{
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    grid-template-columns: 3fr 2fr;
    gap: var(--horizontal-gap); 
    padding: var(--vertical-gap) 4vw;
    box-shadow: 0 5px 5px -4px gray;
    z-index: 1;
}

.header>div{
    display: flex;
    align-items: center;
    gap: 30px;
}

.user-section{
    justify-content: right;
    font-weight: bold;
}

.profile-img{
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
}
.username-section>.profile-img{
    width: 100px;
    height: 100px;
}

#user-name{
    font-size: x-large;
    font-weight: bold;
}

.btn-section{
    display: flex;
    justify-content: flex-end;
}
button{
    background-color: #023047;
    color: white;
    border-style: none;
    border-radius: 1em;
    font-size: large;
    font-weight: bold;
    padding: 0.4em 1.5em;
}

#search{
    flex: 1;
    background-color: #bde0fe;
    border-radius: 1em;
    border-style: none;
    padding: 0.5em 1em;
}
/* ----------------Side bar-------------------- */
.side-bar{
    background-color: #023047;
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3; 
    padding-top: 2vh;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.side-bar > div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.2rem;
    font-weight: bold;
}

.btn{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1em;
}
.btn:active{
    transform: translateY(2px);
}

/* ----------------Main content-------------------- */
.main-content{
    background-color: #bde0fe;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    gap: 2vw;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 2vh 4vw;
}

.projects-card{
    border-left-color:#fb8500;
    border-left-width: 10px;
    border-left-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;      
}

.projects-card, 
.trending-projects,
.announcements{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    font-size: small;
    border-radius: 5px;
    box-shadow: 1px 3px 5px gray;
    padding: 20px;
}

.content-left{
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
}

.content-left, 
.content-right{    
    align-content: stretch;
    gap: 20px;
}

.projects-card>div:last-child{
    display: flex;
    align-self: flex-end;
    gap: 1vw;
}

.content-right{
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: auto 1fr auto 1fr;
}

.announce-txt{
    font-size: x-small;
}
.announcements > div:nth-child(2),
.announcements > div:nth-child(4){
    border-bottom-color: gray;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 5px;
    margin-bottom: 15px;
}

.trending-projects>div{
    display: flex;
    align-items: center;
    gap: var(--horizontal-gap);
    margin-bottom: 10px;
}

.content-title{
    font-weight: bold;
    font-size: x-large;
    height: min-content;
}
#content-title{
    grid-column: 1 / 3;
    /* align-self: start; */
}

.card-title, 
.announce-title {
    font-weight: bold;
    font-size: medium;
}

.trending-user{
    font-weight: bold;
    font-size: medium;
}




